version: "3.7"

services:
  broker:
    image: rabbitmq:3.7.14-management
    ports:
      - "15672:15672"
    networks:
      - fenix
    deploy:
      mode: replicated
      replicas: 1
  backend:
    image: redis:5.0.4
    ports:
      - "6379:6379"
    networks:
      - fenix
    deploy:
      mode: replicated
      replicas: 1
  async_worker:
    build: .
    command: ["dramatiq", "async_executor.tasks"]
    networks:
      - fenix
    deploy:
      mode: replicated
      replicas: 1
    depends_on:
      - broker
      - backend
  async_executor:
    build: .
    command: ["flask", "run", "--host=0.0.0.0"]
    ports:
      - "5000:5000"
    networks:
      - fenix
    deploy:
      mode: replicated
      replicas: 1
    environment:
      - FLASK_APP=async_executor.main
    depends_on:
      - broker
      - backend
      - async_worker
    restart: on-failure

networks:
  fenix:
    driver: overlay
